.rental__whyus{
    background: url(../../assets/whyus_bottombg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -225px 255px;
}

.rental__whyus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rental__whyus-container img{
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.rental__whyus-container_content{
    display: flex;
    gap: 4rem;
}

.rental__whyus-container_content-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 34rem;
    font-family: var(--font-family);
    color: #010103;
}

.rental__whyus-container_content-left h4 {
    font-size: 20px;
}

.rental__whyus-container_content-left h2 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0.2rem;
}

.rental__whyus-container_content-left p {
    color: #706f7b;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 15px;
}

.rental__whyus-container_content-left > a {
    width: fit-content;
}
.rental__whyus-container_content-left button {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    padding: 0.8rem 1.45rem;
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    box-shadow: 0 10px 15px 0 rgba(255,83,48,0.35);
}
.rental__whyus-container_content-left button:hover{
    background: #fa4226;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 38, 0.5);
}

.rental__whyus-container_content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px){
    .rental__whyus-container_content{
        flex-direction: column;
        gap: 2rem;
    }
    .rental__whyus-container_content-left,
    .rental__whyus-container_content-right{
        max-width: 600px;
        text-align: center;
        align-items: center;
    }
}