.rental__home {
    display: flex;
    background: var(--home-bg);
}

.rental__home > img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.rental__home-content{
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
}

.rental__home-content_text{
    font-family: var(--font-family);
    max-width: 30rem;
    width: 100%;
    z-index: 4;
}

.rental__home-content_text h4 {
    
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 1.2rem;
}

.rental__home-content_text h1 { 
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.rental__home-content_text > p {
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 15px;
    color: #706f7b;
}

.rental__home-content_text span {
    display: inline-block;
    color: var(--color-secondary);
}


.rental__home-content > img {
    position: absolute;
    width: 65%;
    max-width: 1080px;
    right: 0;

    margin-top: 2rem;
    z-index: 2;
}

.rental__home-content__text__buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem
}

.rental__home-content__text__buttons button {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.8rem 1.45rem;
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.rental__home-content__text__buttons > button { 
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    box-shadow: 0 10px 15px 0 rgba(255,83,48,0.35);
} 

.rental__home-content__text__buttons > button:hover {
    background: #fa4226;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 38, 0.5);
}

.rental__home-content__text__buttons > a > button{
    background: var(--color-black);
    border: 2px solid var(--color-black);
}

.rental__home-content__text__buttons > a > button:hover{
    background: #fff;
    color: var(--color-black);
}

@media screen and (max-width: 1250px){
    .rental__home-content > img {
        width: 70%;
        bottom: 4rem;
    }
    .rental__home{
        padding: 4rem 2rem 6rem 2rem;
    }
}


@media screen and (max-width: 850px){
    .rental__home > img,
    .rental__home-content > img {
        display: none;
    }
    .rental__home-content{
        flex: 1;
        justify-content: center;
    }
    .rental__home-content_text{
        text-align: center;
        max-width: 30rem;
    }
    .rental__home-content__text__buttons{
        justify-content: center;
    }
}

@media screen and (max-width: 700px){

}

@media screen and (max-width: 550px){

}