.testimonials {
    background: #f8f8f8;
    color: #010103;

    &__content {
        font-family: var(--font-family);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45rem;

        &-title {
            font-size: 22px;
            font-weight: 600;
        }

        &-name {
            font-size: 42px;
            text-align: center;
        }

        &-text {
            color: #706f7b;
            font-size: 15px;
            text-align: center;
            margin-top: 1rem;
        }
    }

    &__reviews {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
}

@media screen and (max-width: 800px){
    .testimonials__content{
        gap: 3rem;
    }
}